@charset "UTF-8";

.clearfix:after {
  display:block;
  content: "";
  clear: both;
}

.q2__content__text{
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
}


.q2__contents_box {
  width:940px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eff3f4;
}

.image_1{
  margin-right: 20px;
  margin-bottom: 10px;
  float:left ;
}

.image_2{
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}