@charset "UTF-8";

/* Q7-1 floatでの横並び */

.clearfix:after {
  display:block;
  content: "";
  clear: both;
}

.q7_float_text {
  float: left;
  width: 225px;
  box-sizing: border-box;
}

.q7_float_text:not(:first-child) {
  margin-left: 50px;
}

/* Q7-2 tableでの横並び */

.dtable {
  display: table;
  table-layout: fixed;
}

.dtable_cell {
  display: table-cell;
  vertical-align: middle;
  width: 225px;
}

.dtable_cell:not(:first-child) {
  padding-left: 50px;
}

/* Q7-3 inline-blockでの横並び */

/* .q7_inline {
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  box-sizing: border-box;
} */


.inline-block_container{
  font-size: 0px;
}

.q7_inline {
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
}

/* .q7_inline:nth-child(2) {
  margin-left: 45px;
} */

.q7_inline:not(:first-child) {
  margin-left: 50px;
  font-size: 16px;
}

/* Q7-4 flexでの横並び */

.q7_flex_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7_flex_box {
  width: 225px;
  box-sizing: border-box;
}

/* Q7-5 inline-blockとmarginでの横並び */

.q7_margin_box {
  font-size: 0;
}

.q7_Fixed {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  font-size: 16px;
}

.q7_variable {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: top;
}








