@charset "UTF-8";

.q4_wapper{
  padding: 20px;
  background-color: #ecf1f2;
}

.q4__contents{
  display: table;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  background-color: #ecf1f2;
}

.q4__contents:first-child{
  margin-top: 0;
}

.q4__contents_cell{
  display: table-cell;
  text-align: center;
  background-color: #000;
  padding: 20px;
}

.is_pink {
  width: 60px;
  background-color: #fdc8b8;
}

.is_purple{
  background-color: #e0abd9;

}

.is_blue{
  width: 60px;
  background-color: #b6d8ed;

}

.is_yellow{
  background-color: #e5d32e;
}

.is_red{
  background-color: #ec8f9a;

}

.is_green{
  width: 460px;
  background-color: #8fdcad;
}