@charset "UTF-8";

.q9_word_main {
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid #222;
  border-radius: 30px;
}


.q9_word_main::before, .q9_word_main::after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  left: 30px;
}

.q9_word_main::before {
  bottom: -45px;
  border-top-color: #222;
}

.q9_word_main::after {
  bottom: -38px;
  border-top-color: #fff;
}
